langchain
langchain-core
langchain-community
langgraph

langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
langchain-huggingface

chromadb
faiss-cpu

sentence-transformers
langchain-text-splitters

pypdf
pymupdf
python-docx
beautifulsoup4

tiktoken
python-dotenv

fastapi
uvicorn
streamlit

pydantic
requests

transformers
torch

numpy
pandas
tqdm